<%= render "navbar" %>
<%= render "banner" %>

<div class="cards">
  <% @lists.each do |l| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/b/b5/Deep_Roy_Photo_Op_GalaxyCon_Richmond_2019.jpg)">
      <a class="nav-link" href=<%= list_path(l) %>><%= l.name %></a>
  </div>
  <% end %>

</div>

<%= render "footer" %>
