 <%= render "navbar" %>
 <%= render "banner" %>


<% @list.bookmarks.each do |b| %>
  <div class="card-movie">
    <img src= <%= b.movie.poster_url%>/>
    <div class="card-movie-infos">
      <h2><%= b.movie.title %></h2>
      <p><strong>Overview: </strong><%= b.movie.overview %></p>
      <p><strong>Ratings: </strong><strong><%= b.movie.rating %></strong></p>
      <p><b><i><%= b.comment %></i></b></p>
    </div>
  </div>
<% end %>

<a class="btn btn-ghost" href=<%=new_list_bookmark_path(@list)%>>Add a bookmark</a>


<%= render "footer" %>
